@model NackaPizzaOnline.Models.Category

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
