@*@model NackaPizzaOnline.Models.HomeViewModels.CustomizeViewModel

@if (Model != null)
{
    <h4>@Model.Dish.Name</h4>
    <table class="table">
        @foreach (var ingredient in Model.Ingredients)
        {
            <tr>
                <td>
                    @if (ingredient.IsChecked)
                    {
                        <input type="checkbox" name="@ingredient.IngredientId" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="@ingredient.IngredientId" />
                    }
                </td>
            </tr>
        }
    </table>
}*@
