@model NackaPizzaOnline.Models.HomeViewModels.CustomizeViewModel


     <h4 id="modalDishName"></h4>
    <div id="modalTable">
        <table id="ingredientsTable" class="table"></table>*@
@*</div>*@
@*Todo partial view inuti modal*@