@model NackaPizzaOnline.Models.DishIngredient

@{
    ViewData["Title"] = "Lägga till";
}

<h2>Lägga till</h2>

<h4>Maträttsingedienser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <select asp-for="DishId" class ="form-control" asp-items="ViewBag.DishId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <select asp-for="IngredientId" class ="form-control" asp-items="ViewBag.IngredientId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägga till" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
