
<h1>Grattis du har beställt mat från Nacka Pizzeria Online!</h1>
<h3>Smaklig måltid</h3>

<form asp-controller="Home" asp-action="Index">
    <input type="submit" value="Tillbaka" class="btn btn-default" />
</form>