@model NackaPizzaOnline.Models.Order

@*TODO Fixa så att man kan se alla maträtter och at man kan betala så att man får ett mail när man betalat.*@

<form asp-controller="Order" asp-action="SendOffToBake">

</form>