@section Style{ 
<link href="~/css/CreditCardStyle.css" rel="stylesheet" />
}
<h3 class="creditcard-text">Vänligen mata in kortuppgifter</h3>

<div class="col-md-10 creditcard-view">
    <div class="col-md-4">
        <div class="form-group">
            <label>MasterCard</label>
            <input type="radio" name="option" /><br />
            <label>Visa</label>
            <input type="radio" name="option" />
        </div>
        <div class="form-group">
            <label>Kortnummer</label><br />
            <input type="text" />
        </div>
        <div class="form-group">
            <label>Utgångsår</label><br />
            <input type="text" />
        </div>
        <div class="form-group">
            <label>Utgångsmånad</label><br />
            <input type="text" />
        </div>
        <div class="form-group">
            <label>CVC</label><br />
            <input type="text" />
        </div>
        <div class="form-group">
            <form asp-action="AllClear" asp-route-orderId="@ViewBag.OrderId">
                <button class="btn btn-primary">Slutför köp</button>
            </form>
        </div>
    </div>
</div>
