@model NackaPizzaOnline.Models.CreditCardModel
@section Style{ 
<link href="~/css/CreditCardStyle.css" rel="stylesheet" />
}
<h3 class="creditcard-text">Vänligen mata in kortuppgifter</h3>

<div class="col-md-10 creditcard-view">
    <div class="col-md-4">
        <form asp-action="CheckCreditCard" asp-controller="Order" method="post" asp-route-orderId="@ViewBag.OrderId">
            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="CardNumber" class="control-label"></label><br />
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpireYear" class="control-label"></label><br />
                    <input asp-for="ExpireYear" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ExpireMonth" class="control-label"></label><br />
                    <input asp-for="ExpireMonth" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Cvc" class="control-label"></label><br />
                    <input asp-for=" Cvc" class="form-control" />
                </div>
                <div class="form-group">
                   <input type="submit" value="Slutföra köpet" class="btn btn-primary" />
                </div>           
        </form>
    </div>
</div>
